<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- Navbar -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="medicines" href="#">Medicines</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="medicines" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Medicines
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/medicine-form">New Medicine</a>
        </li>
      </ul>
      <a type="button" class="btn btn-success" href="/donation" style="margin-right: 30px; margin-left:30px;">Donate</a>
    </div>

  </nav>

  <div class="containers">
    <div class="diseases">
      <div *ngFor="let disease of diseases">
        <input type="radio" class="diseases" value="{{disease.name}}" [(ngModel)]="selectedDisease"
          (change)="getMedicines()" class="btn-check" name="options" id="{{disease.name}}" autocomplete="off">
        <label class="btn btn-secondary diseases-btn" for="{{disease.name}}">{{disease.name}}</label>
      </div>
    </div>

    <div class="medicines">
      <div class="item" *ngFor="let item of medicines">

        <div class="card">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="{{cloud}}{{item.picture}}" alt="
              Card image cap">
          </div>
          <div class="card-body">
            <div class="card-title">
              <h5>{{item.name}}</h5>
              <h6>{{item.price}} Kes <br>({{item.units}} units left)</h6>
              <p class="card-text">{{item.description}}</p>

            </div>
            <hr>
            <ul class="prices">
              <li><s><strong> Original Price:</strong>500/</s></li>
              <li><strong> Discount:</strong>200</li>
            </ul>
            <hr>

            <div class="card-content">
              <div class="card-buttons">
                <a href="shopping-form/medicine/{{item.id}}" class="btn btn-primary">Buy</a>
                <button style="margin-left: 50px" attr.data-target="#{{item.id}}" type="button" class="btn btn-primary"
                  (click)="openPopup()">Info
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Test end -->
        <!-- Button trigger modal -->

        <div class="modal" tabindex="-1" role="dialog" id="{{item.id}}" [ngStyle]="{'display':displayStyle}">
          <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
              <button type="button" class="btn btn-danger" (click)="closePopup()">
                Close
              </button>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{item.name}}</h5>
              </div>
              <div class="modal-body">
                <img class="modal-img" src="https://source.unsplash.com/rJVflgqasr4/1920x2880" alt="">
                <p class="modal-description">{{item.description}}</p>
              </div>
              <div class="modal-footer">

                <ul class="prices">
                  <li><strong> Price:</strong>500</li>
                  <li><strong> Current:</strong>{{item.price}}</li>
                  <li><strong> Discount:</strong>200</li>
                </ul>
              </div>
            </div>
          </div>v>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</html>