<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <div class="containers">

    <div class="diseases">
      <div *ngFor="let disease of diseases">
        <input type="radio" class="diseases" value="{{disease.name}}" [(ngModel)]="selectedDisease"
          (change)="getMedicines()" class="btn-check " name="options" id="{{disease.name}}" autocomplete="off">
        <label class="btn btn-warning diseases-btn" for="{{disease.name}}">{{disease.name}}</label>
      </div>
    </div>

    <div class="search_bar">

      <input class="search_bar form-control" value={{data.name}} type="text" formControlName="name"
        [(ngModel)]="searchText" />
      <div class="medicines">
        <div class="search_bar_list" *ngFor="let data of data | filter : searchText">
          <!-- <div class="item" *ngFor="let item of medicines | filter : searchText"> -->

          <div class="card">
            <div class="card-img-wrapper">
              <img class="card-img-top" src="{{cloud}}{{data.picture}}" alt="
              Card image cap">
            </div>
            <div class="card-body">
              <div class="card-title">
                <h2>{{data.name}}</h2>

              </div>
              <hr>
              <p class="card-text">{{data.description}}</p>

              <hr>

              <div class="card-content">
                <div class="card-buttons">
                  <a href="https://medistore-apis.herokuapp.com/prescription/{{data.id}} " class="btn-custom">Buy</a>
                  <a href="unit-form/medicine/{{data.id}}" class="btn-custom">Update units</a>
                  <a href="shopping-form/medicine/{{data.id}}" class="btn-custom">Buy test</a>
                  <a href="/single/{{data.id}}" class="btn-custom">Info</a>

                </div>
              </div>
            </div>
          </div>
          <!-- Test end -->
          <!-- Button trigger modal -->
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</html>