/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  border-style: solid;
  border-width: 1px;
  border-color: #fdbe33;
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
  border-color: #fdbe33;
}
/* nav {
  bottom: 50px;
} */

* {
  text-decoration: none;
}
