<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="medicines" href="#">Medicines</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" routerLink="/medicines" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Medicines
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/medicine-form">New Medicine</a>
      </li>
    </ul>
    <a type="button" class="btn btn-success" href="/donation" style="margin-right: 30px; margin-left:30px;">Donate</a>
  </div>

</nav>


<div class="container">
  <form novalidate [formGroup]="myForm" #testForm="ngForm" (ngSubmit)="getText(testForm.value)">
    <div class=" form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <label>Price</label>
    <input type="number" class="form-control" formControlName="price">
    <label>description</label>
    <input type="text" class="form-control" formControlName="description">
    <label>picture</label>
    <input type="file" class="form-control" formControlName="picture">
    <div class="form-group">
      <label>disease</label>
      <select class="form-control" formControlName="disease">
        <option value="">Please select a language</option>
        <option *ngFor="let lang of langs" [value]="1">{{lang}}
        </option>
      </select>
    </div>
    <pre>{{myForm.value | json}}</pre>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>